body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}
.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;

}

.logo-part-span {
    color: #2e2f42;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link{
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
    font-weight: medium;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.navigation-link.current {
    position: relative;
    color: #404bbf
}

.navigation-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.navigation-list a:active {
    text-decoration: underline;
}


.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
    
.contacts-list-link {
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
    color: #404BBF;
}

.hero {
    margin: 0 auto;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    max-width: 1440px;
}

.hero-container {
    padding: 188px 0;
    justify-content: center;
}

.hero-header {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 56px;    
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button {
    display: block;
    margin: 0 auto;
    background-color: #4D5AE5;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.values-section {
    background-color: #FFFFFF;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.values-list {
    display: flex;
    gap: 24px;
}

.values-icon-wrapper {
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}


.values-list li {
    width: calc((100% - 24px*3) / 4);
}

.values-header {
    margin-bottom: 8px;
}


.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-header {
    font-weight: 500;
    line-height: 1.11;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;  
}

.team-member {
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-text {
    text-align: center;
    padding: 32px 0;
}

.member-text .member-header {
    margin-bottom: 8px;
}

.member-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.member-socials-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}

.member-socials-item {
    width: 40px;
    height: 40px;
}

.member-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 10px;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-socials-link:hover,
.member-socials-link:focus {
    background-color: #404BBF;
}
.portfolio-section {
    padding: 120px 0;
}

.portfolio-header {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    background: #4D5AE5;
    color: #F4F4FD;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
}

.thumb:hover .overlay {
  transform: translatey(0);
}

.portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-item {
    width: calc((100% - 24px*2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0px;
}

.footer-description {
    margin-right: 120px
}

.container.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-footer {
    color: #F4F4FD;
}

.footer-text {
    max-width: 264px;
}


.footer-socials-list {
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

.social-paragragh {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    margin-bottom: 16px;
}

.footer-socials-link {   
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}
